<h1>Build A Sandbox</h1>
<div id="sandbox">
  <form phx-change="calculate" phx-submit="get-quote">
    <div class="fields">
      <div>
        <label for="length">Length</label>
        <div class="input">
          <input type="number" name="length" value={@length} min="0" />
          <span class="unit">feet</span>
        </div>
      </div>
      <div>
        <label for="width">Width</label>
        <div class="input">
          <input type="number" name="width" value={@width} min="0"/>
          <span class="unit">feet</span>
        </div>
      </div>
      <div>
        <label for="depth">Depth</label>
        <div class="input">
          <input type="number" name="depth" value={@depth} min="0"/>
          <span class="unit">inches</span>
        </div>
      </div>
    </div>
    <div class="weight">
      You need <%= @weight %> pounds of sand 🏝
    </div>
    <button type="submit">
      Get A Quote
    </button>
  </form>
  <div :if={@price} class="quote">
    Get your personal beach today for only <%= number_to_currency(@price) %>
  </div>
</div>
